html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Calibri', 'Verdana', sans-serif;
}

.title,
.subtitle {
  font-family: 'Ravie', serif;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  text-shadow: 2px 2px rgb(100, 100, 255);
}

.title .emphatic {
  color: #00FF21;
}

.title .non-important {
  color: rgba(255, 100, 100, .8);
}

.subtitle {
  color: #f0f0f0;
}

#sky {
  position: relative; /* for the rocks-container */
  background-image: linear-gradient(to bottom, #6481E5, #8AB3E2);
  background-position: 0 0;
  background-repeat: no-repeat;
  padding-top: 20px;
  height: 50%;
}

#monster-container {
  position: absolute;
  top: -140px;
}

#monster {
  width: 120px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../resources/images/terrivel-standing-big.png');
  animation: standing 1.5s steps(2) infinite;
}

#monster.eating {
  background-image: url('../resources/images/terrivel-eating-big.png');
  animation: eating .3s steps(3) infinite;
}

@keyframes eating {
  100% { background-position: -360px 0; }
}

@keyframes standing {
  100% { background-position: -240px 0; }
}

#canvas-area {
  position: absolute;
  width: 100%;
  height: 300px;
}


#earth {
  position: relative;
  top: -5px;
  height: calc(50% - 15px);
  background-image: url('../resources/images/tiles-big.png');
  background-repeat: repeat-x;
  text-align: center;
}