html {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Calibri', 'Verdana', sans-serif;
}

.title, .subtitle {
  font-family: 'Ravie', serif;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  text-shadow: 2px 2px rgb(100, 100, 255);
  color: rgba(255, 255, 255, 1);
}

.title .emphatic {
  color: #00FF21;
}

.title .non-important {
  color: rgba(255, 100, 100, .8);
}

.subtitle {
  color: #f0f0f0;
}

#sky {
  position: relative;  
  height: 50%;
  box-sizing: border-box;
}

.rain {
	background: url("../resources/images/rain.gif");
}

.stars {
	background: url("../resources/images/stars.gif");
}

.cloud {
	background: url("../resources/images/clouds.gif");
}

.moon {
	background: url("../resources/images/sky.gif");
}


#monster-container {
  position: absolute;
  top: -120px;
}

#monster {
  width: 150px;
  height: 126px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../resources/images/pato-parado.png');
  animation: stopcoelho 2s steps(3) infinite;
}

#monster.coelho-parado{
  background-image: url('../resources/images/cuei-parado.png');
  animation: stopcoelho 2s steps(3) infinite;
}

#monster.coelho-esquerda {
  background-image: url('../resources/images/cuei-esquerda.png');
  animation: walkingcoelho .5s steps(4) infinite;
}

#monster.coelho-direita {
  background-image: url('../resources/images/cuei-direita.png');
  animation: walkingcoelho .5s steps(4) infinite;
}

#monster.coelho-pulo {
  background-image: url('../resources/images/cuei-pulo.png');
}

#monster.pato-parado{
  background-image: url('../resources/images/pato-parado.png');
  animation: stoppato 2s steps(4) infinite;
}

#monster.pato-esquerda {
  background-image: url('../resources/images/pato-esquerda.png');
  animation: walkingcoelho .5s steps(4) infinite;
}

#monster.pato-direita {
  background-image: url('../resources/images/pato-direita.png');
  animation: walkingcoelho .5s steps(4) infinite;
}

#monster.pato-pulo {
  background-image: url('../resources/images/pato-pulo.png');
}

@keyframes stopcoelho {
  100% { background-position: -450px 0; }
}

@keyframes stoppato {
  100% { background-position: -600px 0; }
}

@keyframes walkingcoelho {
  100% { background-position: -600px 0; }
}

#canvas-area {
  position: absolute;
  width: 100%;
  height: 300px;
}

#earth {
  position: relative;
  top: -5px;
  height: calc(50% + 5px);
  background-image: url('../resources/images/tiles-big.png');
  background-repeat: repeat-x;
  text-align: center;
  box-sizing: border-box;
}

#contador{
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 2;
	color: white;
}

