#menu {
  position: fixed;
  bottom: 5%;
  z-index: 2;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
}

#menu-toggle {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: rgb(44, 138, 247);
  color: #fff;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  transition: background-color 3s;
  cursor: pointer;
}

#menu-toggle:hover {
  background-color: rebeccapurple;
  transition: background-color 2s;
}

#menu-itens {
  position: relative;
  bottom: 55px;
  width: 70%;
  max-width: 400px;
  height: 0px;
  /* começa fechado */
  background-color: white;
  transition: height 1s ease-in-out;
  border-radius: 3px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}

#menu-itens.aberto {
  height: 400px;
}

#menu-itens .item {
  position: relative;
  width: 40%;
  height: 0px;
  margin: 10px;
  border-radius: 3px;
  background-color: skyblue;
  opacity: .1;
  transition: opacity 2s .3s, height 1s .3s;
  cursor: move;
  cursor: -moz-grab;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

#menu-itens.aberto .item {
  height: 40%;
  opacity: .7;
}

#menu-itens.aberto .item:hover {
  opacity: 1;
  transition: opacity 1s;
}

#menu-itens.aberto .item:active:hover {
  cursor: -moz-grabbing;
}

#menu-itens input {
  margin-top: 6px;
}

#menu-itens button {
  margin-top: 16px;
}

input {
  margin-left: 10px;
  margin-right: 10px;
  width: 50%;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: solid 1px rebeccapurple;
  background-color: transparent;
  margin-top: 16px;
}
