#menu {
  position: fixed;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 64px;
  background-color: #2e353d;
}

#menu .hidden-items,
#menu #menu-toggle-area {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

#menu .item {
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  height: 100%;
  width: 64px;
  color: #fff;
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .0;
  display: none;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: forwards;
}

#menu .item:hover {
  background-color: #4f5b69;
}

 #menu>#menu-toggle-area {
  height: 100%;
  width: 64px;
  display: flex;
  justify-content: center;
 }

#menu .item#menu-toggle {
  background-image: url('../resources/images/icons/chevrons-right.svg');
  opacity: 1;
  display: block;
  width: 24px;
  height: 24px;
  transform-origin: center center;
 }

 #menu .item#trocarPersonagem {
  background-image: url('../resources/images/icons/github.svg');
 }
 #menu .item#texto {
  background-image: url('../resources/images/icons/message-square.svg');
 }

 #menu .item#texto>#optionsTexto {
   position: absolute;
   bottom: 64px;
   left: 0;
   align-items: center;
   justify-content: space-around;
   background-color: #4f5b69;
   height: 64px;
   width: 640px;
   display: none;
   opacity: 0;
   transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
 }

 #menu .item#texto>#optionsTexto.exibir {
  display: flex;
  opacity: 1;
 }
 #menu .item#definir-audio {
  background-image: url('../resources/images/icons/headphones.svg');
 }
 #menu .item#ground-button {
  background-image: url('../resources/images/icons/slack.svg');
}
#menu .item#slides {
 background-image: url('../resources/images/icons/image.svg');
}
#menu .item#uploads {
 background-image: url('../resources/images/icons/folder.svg');
}
 #menu .item#background-button.rain {
  background-image: url('../resources/images/icons/rain.svg');
}
#menu .item#background-button.stars {
  background-image: url('../resources/images/icons/stars.svg');
}
#menu .item#background-button.clouds {
  background-image: url('../resources/images/icons/clouds.svg');
}
#menu .item#background-button.sky {
  background-image: url('../resources/images/icons/sky.svg');
}

#menu .item#home {
  background-image: url('../resources/images/icons/home.svg');
  opacity: 1;
  display: block;
}

#menu .item#slides.aparecer {
  opacity: 1;
  display: block;
}