<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Upload de Arquivos</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/upload.css">
  <link rel="stylesheet" href="/css/estilos-comuns.css">
  <link rel="stylesheet" href="/css/estilos-cadastro-login.css"> 
</head>
<body>   
  <main>
    <form>            
      <div>
        <h1>Upload de Arquivos</h1>        
        <article class="form-item">
          <div class="progress">
            <div class="progress-bar" role="progressbar"></div>
          </div>
        </article>  
        <button class="btn btn-lg upload-btn" type="button">Upload</button>
        <button class="hide"id="view-btn" type="button">Mostrar Arquivos</button>
        <ul>
		{{#each file}}
		    <li>
		        <article>{{url}}</article>
		    </li>
		{{/each}}
		</ul>
      </div>      
    </form>      
  </main>

  <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/js/upload.js"></script> 
</body>
</html>